%div{ ng: {app: "boxmaster", controller: "IndexController"} }
  %nav.navbar.navbar-inverse
    .container-fluid
      %a.navbar-brand{ href: "/#/" } Home
      %a.navbar-brand{ href: "/#/recettes/new" } Nouvelle recette

      %form.navbar-form.navbar-right
        .form-group
          %input{ autofocus: "", name: "keywords", ng_model: "keywords", placeholder: "ex. Patate", type: "text" }
        %button.btn.btn-default{ ng_click: "search(keywords)" } Search
  .view-container
    .view-frame.animate-view{ ng_view: "" }
