%div{"ng-app"=>"boxmaster"}
  %nav.top-bar{ data_topbar: "", role: "navigation"}
    %ul.title-area
      %li.name
        %h1
          %a{ href: "/#/" } Home
  .view-container
    .view-frame.animate-view{ ng_view: "" }
