%section{:id => "postIndex", :class => "widthWrapper"}
	%article{"ng-repeat" => "recette in recettes"}
		%a{:href => "", "ng-click" => "view(recette.id)"}
			.postImg
				%img{:src => "{{recette.image.image.url}}", :class => "small-3 large-3 columns" }
			%h2 {{recette.name}}
			%p {{recette.instructions | limitTo: 15}} { ... }	}
