%aside.flash.row
  %article.col-md-6.col-md-offset-3{ active_class: "alert", duration: "0", flash_alert: ""}
    {{ flash.message }}

%form.edit-user{ role: "form", multipart: "true" }
  %fieldset#form
    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }" }
      %label.control-label{ for: "name" }
        Nom
      .controls
        %input.form-control#name{ name: "name", ng_model: "recette.name", placeholder: "ex. Patates provençale", type: "text" }

    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }" }
      %label.control-label{ for: "instructions" }
        Instructions
      .controls
        %textarea.form-control#instructions{ name: "instructions", ng_model: "recette.instructions", placeholder: "ex. Cuire 30min" }
          :preserve

    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }" }
      .controls
        %span{ class: "btn btn-default btn-file" }
          %input{ type: "file", ng_model: "recette.image", name: "image", nv_file_select: "", uploader: "uploader"}
        %ul#file
          %li{ ng_repeat: "item in uploader.queue" }
            Name:
            %span{ ng_bind: "item.file.name" }
            %button.btn.btn-default{ ng_click: "item.upload()" } Upload and Send

    .control-group
      .controls
        %button.btn.btn-default{ ng_click: "cancel()" } Revenir
