%form{ role: "form", multipart: "true" }
  %fieldset#form
    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }" }
      %label.control-label{ for: "name" }
        Nom
      .controls
        %input.form-control#name{ name: "name", ng_model: "recette.name", placeholder: "ex. Patates provençale", type: "text" }

    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }" }
      %label.control-label{ for: "instructions" }
        Instructions
      .controls
        %textarea.form-control#instructions{ name: "instructions", ng_model: "recette.instructions", placeholder: "ex. Cuire 30min" }
          :preserve

    .control-group{ ng_class: "{ 'has-warning has-feedback':errors.name }", ng_if: "recette.name && recette.instructions" }
      Ajouter une illustration a votre recette !
      .controls
        %span{ class: "btn btn-default btn-file" }
          %input{ type: "file", ng_model: "recette.image", name: "image", nv_file_select: "", uploader: "uploader"}
        %tbody
          %tr{"ng-repeat" => "item in uploader.queue"}
            %td
              %strong
              %div{"ng-show" => "uploader.isHTML5", "ng-thumb" => "{ file: item._file, height: 100 }"}
              %td{"ng-show" => "uploader.isHTML5", :nowrap => "nowrap"}  MB
              %td{"ng-show" => "uploader.isHTML5"}
                .progress{:style => "margin-bottom: 0;"}
                  .progress-bar{"ng-style" => "{ 'width': item.progress + '%' }", :role => "progressbar"}
              %td.text-center
                %span{"ng-show" => "item.isSuccess"}
                  %i.glyphicon.glyphicon-ok
                %span{"ng-show" => "item.isCancel"}
                  %i.glyphicon.glyphicon-ban-circle
                %span{"ng-show" => "item.isError"}
                  %i.glyphicon.glyphicon-remove
              %td{:nowrap => "nowrap"}
                %button.btn.btn-success.btn-xs{"ng-click" => "item.upload()", "ng-disabled" => "item.isReady || item.isUploading || item.isSuccess", :type => "button"}
                  %span.glyphicon.glyphicon-upload
                    Upload
                %button.btn.btn-warning.btn-xs{"ng-click" => "item.cancel()", "ng-disabled" => "!item.isUploading", :type => "button"}
                  %span.glyphicon.glyphicon-ban-circle
                    Cancel
                %button.btn.btn-danger.btn-xs{"ng-click" => "item.remove()", :type => "button"}
                  %span.glyphicon.glyphicon-trash
                    Remove
    .control-group
      .controls
        %button.btn.btn-default{ ng_click: "cancel()" } Revenir
