/ %header.row
/   %a{:href => "", "ng-click" => "Onsearch = !Onsearch"}
/     %button.button.expand.secondary{:style => "width:100%;"} Chercher une recette
#search-bar{"ng-show"=>"Onsearch"}
  %form
    %input#searchfld{:autofocus => "", :name => "keywords", "ng-model" => "keywords", :placeholder => "Nom de recettes, ex. Patates", :type => "text"}
%hr
  %section.row
    %button.button.round.info{"ng-click" => "newRecette()", :style => "margin-left: 40%;"} Nouvelle recette
    %h1.text-center.h2 Listes de vos recettes
    %div{"custom"=>""}