/ %header.row
/   %a{:href => "", "ng-click" => "Onsearch = !Onsearch"}
/     %button.button.expand.secondary{:style => "width:100%;"} Chercher une recette

#search-bar{}
  %form
    %input{ autofocus: "", name: "keywords", ng_model: "keywords", placeholder: "Nom de recettes, ex. Patates", type: "text" }
    %a.alert.button{ ng_click: "search(keywords)" } Search

%hr

  %section.row
    %button.button.round.info{ ng_click: "newRecette()", style: "margin-left: 40%" } Nouvelle recette
    %h1.text-center.h2 Listes de vos recettes

  %section#postIndex.widthWrapper
    %article{ ng_repeat: 'recette in recettes' }
      %listing{ recette: "recette" }
