.panel.panel-default
  .panel-image
    %img.panel-image-preview{ src: "{{recette.image.image.url}}" }
  .panel-body
    %h4
      %a{ href: "", ng_click: "view(recette.id)" } {{recette.name}}
    %p {{ recette.instructions | limitTo: 30 }} { ... }
  .panel-footer.text-center
    %a{ href: "" }
      %span.glyphicon.glyphicon-download
    %a{ href: "" }
      %span.fa.fa-facebook
    %a{ href: "" }
      %span.fa.fa-twitter
    %a{ href: "" }
      %span.glyphicon.glyphicon-share-alt

-# %a{ href: "", ng_click: "view(recette.id)" }
