%div.container
  %alert{ ng_if: "alerts", type: "{{alerts.type}}" } {{alerts.msg}}
  .row
    %ul.thumbnails{ carnet: "carnet", ng_repeat: 'recette in carnet.recettes | orderBy:"name"', recette: "recette" }

  %pagination{ total_items: "pagination.totalItems",
    ng: { model: "pagination.currentPage", change: "carnetChanged()" },
    items_per_page: "pagination.perPage" }
