%aside.flash.row
  %article.col-md-6.col-md-offset-3.col-sm-12{ active_class: "alert", duration: "0", flash_alert: "" }
    {{ flash.message }}

%section.col-md-6.col-md-offset-3
  %article.panel.panel-info
    %header.panel-heading
      %h1 {{ recette.name }}
    %p.panel-body{ ng_bind_html: "recette.instructions | nl2br" }
    %h1 Ingredients :
    %p {{ recette.ingredients[0]['name'] }}
    %div.row
      %img.small-12.large-6.columns{ src: "{{recette.image.image.url}}" }

  %section
    .col-md-3
      %button.btn.btn-default{ ng_click: "back()" }
        \&larr; Revenir
    .col-md-9.text-right
      %button.btn.btn-info{ ng_click: "edit()" } Editer
      %button.btn.btn-danger{ ng_click: "delete()" } Supprimer
