%aside.flash.row
  %article.col-md-6.col-md-offset-3.col-sm-12{"active-class" => "alert", :duration => "0", "flash-alert" => ""}
    {{flash.message}}
%section.col-md-6.col-md-offset-3
  %article.panel.panel-info
    %header.panel-heading
      %h1 {{recette.name}}
    %p.panel-body
      {{recette.instructions}}
    %p {{recette.ingredients[0]['name']}}
    %div.row
      %img{:src => "{{recette.image.image.url}}", :class => "small-12 large-6 columns" }
    %p.panel-body
      / {{recette.ingredients}}
  %section
    .col-md-3
      %button.btn.btn-default{"ng-click" => "back()"}
        \&larr; Revenir
    .col-md-9.text-right
      %button.btn.btn-info{"ng-click" => "edit()"} Editer
      %button.btn.btn-danger{"ng-click" => "delete()"} Supprimer