.container
  %alert{ ng_if: "alerts", type: "{{alerts.type}}" } {{alerts.msg}}
  .col-md-9
    .thumbnail
      %img.img-responsive#showImg{ src: "{{recette.image.url}}" }
      .caption-full
        %h4 {{ recette.name }}
        %p{ ng_bind_html: "recette.instructions | nl2br" }
        %h4 Ingredients :
        %p{ ng_repeat: "ingredient in recette.ingredients" } {{ ingredient }}
        %h4 Créateur :
        %p {{ user.username }}
        %p {{ user.email }}
    %button.btn.btn-default{ ng_click: "back()" } Back
    %button.btn.btn-default{ ng_if: "recette.user_id == user.id", ng_click: "edit()" } Editer
    %button.btn.btn-danger{ ng_if: "recette.user_id == user.id", ng_click: "open()" } Supprimer
    %button.btn.btn-warning{ ng_click: "favorite()" }
      %span.glyphicon.glyphicon-star

    %script{ type: "text/ng-template", id: "delete.html" }
